<%= t(:count_of_all_invitations_sent_to_you)+":" %> <%= @total_confirmed_for_me.count %>
</br>
<%= t(:count_of_available_invitations)+":" %> <%= @available_confirmed_for_me.count %>
<% @available_confirmed_for_me.each do |c| %>
  <div>
    <%= button_tag "", class:"btn #{c.used ? 'btn-secondary' : 'btn-success'} fa-solid fa-copy copy", data: {id: c.id } %>
    <%= text_field_tag "", c.code, :readonly => true %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){

      $('.copy').on('click', function() {
        event.preventDefault();

        var copyText = $(this).siblings().first();

        copyText.select();
        copyText[0].setSelectionRange(0, 99999);

        navigator.clipboard.writeText(copyText.val());

        mydata = {checked: this.checked}
        id = this.dataset.id

        this.classList.remove('btn-success');
        this.classList.add('btn-secondary');

        $.ajax({
         type: "PATCH",
         beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
         url: "/invitation/" + id,
         data: mydata,
       });
     });
   });
</script>
